@import "tailwindcss";

@font-face {
  font-family: 'Coolvetica';
  src: url('/fonts/Coolvetica-regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Coolvetica';
  src: url('/fonts/Coolvetica-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Clash Grotesk';
  src: url('/fonts/ClashGrotesk-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Clash Grotesk';
  src: url('/fonts/ClashGrotesk-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-coolvetica: 'Coolvetica', sans-serif;
  --font-clash: 'Clash Grotesk', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
  --font-plus-jakarta-sans: 'Plus Jakarta Sans', sans-serif;
  
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-aciu-body: #f5f5f5;
  --color-aciu-red: #00CA71;
  --color-aciu-green-normal: #00B686;
  --color-aciu-dark-green: #008965;
  --color-aciu-light-red: #FBEBEA;
  --color-aciu-dark-red: #005B33;
  --color-aciu-grey: #737373;
  --color-aciu-dashboard-background: #E5E5E5;
  --color-aciu-light-grey: #EEEEEE;
  --color-aciu-dark-grey: #C9C9C9;
  --color-aciu-darker-grey: #1D1D1D;
  --color-aciu-dark: #313131;
  --color-aciu-light-dark: #525252;
  --color-aciu-bg-red: #D24134;
  --color-aciu-bg-light-red: #FFF8F7;
  --color-aciu-light-red: #E6FAF1;
  --color-aciu-bg-btn-red: #F3C2BF;
  --color-aciu-yellow: #EBC563;
  --color-aciu-light-yellow: #FBF4E1;
  --color-aciu-bg-grey: #F7F7F7;
  --color-aciu-abriba: #737373;
  --color-aciu-text-grey: #1E4150;
  --color-aciu-card-grey: #DFE1E7;
  --color-aciu-border-grey: #3E3E3E;
  --color-aciu-neutral: #898483;
  --color-aciu-grey-normal: #424242;
  --color-aciu-dark-gray: #0D0D12;
  --color-aciu-white-normal: #CCCCCC;
  --color-aciu-white-light: #EFFDE6;
  --color-aciu-red-normal: #FF3B30;
  --color-aciu-blue-dark: #14213D;
  --color-primary-100: #F6F5FA;
  --color-primary-200: #EEECF6;
  --color-primary-300: #CBC6E4;
  --color-accent-100: #FEFCF3;
  --color-accent-300: #E0D394;
  --color-copy-300: #A1A6B1;
  --color-copy-400: #727A8B;
  --color-success-600: #03D858;
  --color-grayscale-25: #F6F8FA;
  --color-grayscale-100: #818898;
  --color-grayscale-500: #667085;
}

html, body {
  overflow-x: hidden;
  background: var(--color-aciu-body);
  color: var(--color-foreground);
  font-family: var(--font-open-sans), sans-serif;
}

body {
  margin: 0;
  padding: 0;
  cursor: default;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-coolvetica);
}

a, button {
  cursor: pointer;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer components {
  .go-to-homepage {
    max-width: 12.5rem;
    height: 67px;
    border: 1px solid #00CA71;
    border-radius: .625rem;
    color: #00CA71;
    background: #E6FAF1;
    padding: 1.5rem;
    font-family: 'Coolvetica', sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-shadow {
    box-shadow: 14px 0px 30px 0px #9191911A,
  }

  .input-shadow {
    box-shadow: 0px 0px 0px 4px #FFF4EC;
  }

  .button-shadow {
    box-shadow: "0px 1px 2px 0px #0D0D120A 0px 1px 3px 0px #0D0D120D";
  }

  /* react-phone-input style overrides */

  .react-tel-input .selected-flag {
    width: 3.5rem !important;
    margin: 0 1rem 0 .5rem !important;
    padding: 0;
    border: none;
  }
  .react-tel-input .selected-flag:hover,
  .react-tel-input .flag-dropdown.open .selected-flag {
    background-color: unset !important;
  }

  .react-tel-input .flag-dropdown {
    border-right: none !important;
     margin-right: .875rem !important;
  }

  .country-list {
    width: 100% !important;
    min-width: 25rem !important;
  }

  .country-list .search-box {
    width: 80% !important;
  }
}