@import "tailwindcss";

@font-face {
  font-family: 'Coolvetica';
  src: url('/fonts/Coolvetica-regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Coolvetica';
  src: url('/fonts/Coolvetica-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Clash Grotesk';
  src: url('/fonts/ClashGrotesk-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Clash Grotesk';
  src: url('/fonts/ClashGrotesk-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-coolvetica: 'Coolvetica', sans-serif;
  --font-clash: 'Clash Grotesk', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
  --font-plus-jakarta-sans: 'Plus Jakarta Sans', sans-serif;
  --font-inter: 'Inter', sans-serif;

  --size-2xs: .625rem;
  
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-aciu-body: #f5f5f5;
  --color-aciu-red: #00B686;
  --color-aciu-green-normal: #00B686;
  --color-aciu-new-green-normal: #00A479;
  --color-aciu-green-light: #E6F8F3;
  --color-aciu-green-light-hover: #D9F7EA;
  --color-aciu-border-green: #B0E8D9;
  --color-aciu-dark-green: #008965;
  --color-aciu-light-red: #FBEBEA;
  --color-aciu-dark-red: #005B33;
  --color-aciu-grey: #737373;
  --color-aciu-dashboard-background: #E5E5E5;
  --color-aciu-light-grey: #EEEEEE;
  --color-aciu-dark-grey: #C9C9C9;
  --color-aciu-dark-grey-active: #252525;
  --color-aciu-darker-grey: #1D1D1D;
  --color-aciu-dark: #313131;
  --color-aciu-light-dark: #525252;
  --color-aciu-bg-red: #D24134;
  --color-aciu-bg-light-red: #FFF8F7;
  --color-aciu-light-red: #E6FAF1;
  --color-aciu-bg-btn-red: #F3C2BF;
  --color-aciu-yellow: #EBC563;
  --color-aciu-light-yellow: #FBF4E1;
  --color-aciu-bg-grey: #F7F7F7;
  --color-aciu-abriba: #737373;
  --color-aciu-text-grey: #1E4150;
  --color-aciu-card-grey: #DFE1E7;
  --color-aciu-border-grey: #3E3E3E;
  --color-aciu-neutral: #898483;
  --color-aciu-grey-normal: #424242;
  --color-aciu-dark-gray: #0D0D12;
  --color-aciu-darker-gray: #3F3F3F;
  --color-aciu-gray-light: #5E5E5E;
  --color-aciu-white-normal: #CCCCCC;
  --color-aciu-white-light: #EFFDE6;
  --color-aciu-red-normal: #FF3B30;
  --color-aciu-blue-dark: #14213D;
  --color-aciu-cyan-light: #F3FFFE;
  --color-primary-100: #F6F5FA;
  --color-primary-200: #EEECF6;
  --color-primary-300: #CBC6E4;
  --color-accent-100: #FEFCF3;
  --color-accent-300: #E0D394;
  --color-copy-300: #A1A6B1;
  --color-copy-400: #727A8B;
  --color-copy-500: #434D64;
  --color-success-600: #03D858;
  --color-grayscale-25: #F6F8FA;
  --color-grayscale-100: #818898;
  --color-grayscale-200: #EAECF0;
  --color-grayscale-300: #D0D5DD;
  --color-grayscale-500: #667085;
  --color-gray-900: #101828;
  --color-card-100: #F9FAFC;
  --color-card-200: #F9FBFC;
  --color-neutrals-50: #F9F9F9;
  --color-neutrals-100: #E3E3E3;
}

html, body {
  overflow-x: hidden;
  background: var(--color-aciu-body);
  color: var(--color-foreground);
  font-family: var(--font-montserrat), sans-serif;
}

body {
  margin: 0;
  padding: 0;
  cursor: default;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-coolvetica);
}

a, button {
  cursor: pointer;
}

@layer utilities {
  .text-2xs {
    font-size: var(--size-2xs);
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .body-lock {
    overflow: hidden;
    position: fixed;
    width: 100%;
  }

}

@layer components {
  .go-to-homepage {
    max-width: 12.5rem;
    height: 67px;
    border: 1px solid #00CA71;
    border-radius: .625rem;
    color: #00CA71;
    background: #E6FAF1;
    padding: 1.5rem;
    font-family: 'Coolvetica', sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-shadow {
    box-shadow: 14px 0px 30px 0px #9191911A,
  }

  .input-shadow {
    box-shadow: 0px 0px 0px 4px #FFF4EC;
  }

  .button-shadow {
    box-shadow: "0px 1px 2px 0px #0D0D120A 0px 1px 3px 0px #0D0D120D";
  }

  /* react-phone-input style overrides */

  .react-tel-input .selected-flag {
    width: 3.5rem !important;
    margin: 0 1rem 0 .5rem !important;
    padding: 0;
    border: none;
  }
  .react-tel-input .selected-flag:hover,
  .react-tel-input .flag-dropdown.open .selected-flag {
    background-color: unset !important;
  }

  .react-tel-input .flag-dropdown {
    border-right: none !important;
     margin-right: .875rem !important;
  }

  .country-list {
    width: 100% !important;
    min-width: 25rem !important;
  }

  .country-list .search-box {
    width: 80% !important;
  }

  .custom-swiper-pagination .swiper-pagination-bullet {
    background-color: #D9F4ED !important;
    opacity: 1 !important;
  }

  .custom-swiper-pagination .swiper-pagination-bullet-active {
    background-color: #00B686 !important;
  }

  .control-group {
    padding: 1.5rem 0 0 0;
    border-bottom: 1px solid #E5E5E5;
  }

  .button-group {
    padding: 0 0 1.5rem 0;
  }

  .ProseMirror {
    height: 100%;
    padding: 3.125rem 1.5rem;
    cursor: text;
  }

  .ProseMirror:focus-visible {
    outline: none !important;
  }

  .line-height-120 {
    line-height: 120%;
  }

  .branch-exec-card p {
    line-height: 120% !important;
    color: var(--color-aciu-border-grey)
  }

  .border-dashed {
    border-style: dashed;
    border-color: #00B686
  }

  .project-gallery {
    display: grid;
    gap: .5rem;
  }

  .project-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5rem;
  }

  /* 1 image */
  .project-gallery.count-1 {
    grid-template-columns: 1fr;
  }

  /* 2 images */
  .project-gallery.count-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  /* 3 images */
  .project-gallery.count-3 {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .project-gallery.count-3 img:nth-child(1) {
    grid-row: span 2;
  }

  /* 4 images */
  .project-gallery.count-4 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  /* 5 images */
  .project-gallery.count-5 {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .project-gallery.count-5 img:nth-child(1) {
    grid-row: span 2;
  }

}

@media screen and (max-width: 991px){
  .project-gallery.count-5 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  .project-gallery.count-5 img:nth-child(1) {
    grid-column: 1 / -1;
    grid-row: auto;
  }
}