@import "tailwindcss";

@font-face {
  font-family: 'Coolvetica';
  src: url('/fonts/Coolvetica-regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Coolvetica';
  src: url('/fonts/coolvetica/Coolvetica-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Coolvetica';
  src: url('/fonts/coolvetica/Coolvetica-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Clash Grotesk';
  src: url('/fonts/clash-grotesk/ClashGrotesk-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Clash Grotesk';
  src: url('/fonts/clash-grotesk/ClashGrotesk-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Clash Display';
  src: url('/fonts/clash-display/ClashDisplay-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-coolvetica: 'Coolvetica', sans-serif;
  --font-clash-grotesk: 'Clash Grotesk', sans-serif;
  --font-clash-display: 'Clash Display', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
  --font-plus-jakarta-sans: 'Plus Jakarta Sans', sans-serif;
  --font-inter: 'Inter', sans-serif;

  --radius-2xs: .625rem;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-mlg: 1250px;
  --breakpoint-ml: 1350px;
  --leading-default: 1;
  
  --color-background: #ffffff;
  --color-foreground: #3E3E3E;
  --color-aciu-body: #f5f5f5;
  --color-aciu-red: #00B686;
  --color-aciu-green-normal: #00B686;
  --color-aciu-new-green-normal: #00A479;
  --color-aciu-green-light: #E6F8F3;
  --color-aciu-green-light-hover: #D9F7EA;
  --color-aciu-border-green: #B0E8D9;
  --color-aciu-dark-green: #008965;
  --color-aciu-light-red: #FBEBEA;
  --color-aciu-dark-red: #005B33;
  --color-aciu-grey: #737373;
  --color-aciu-dashboard-background: #E5E5E5;
  --color-aciu-light-grey: #EEEEEE;
  --color-aciu-dark-grey: #C9C9C9;
  --color-aciu-dark-grey-active: #252525;
  --color-aciu-darker-grey: #1D1D1D;
  --color-aciu-dark: #313131;
  --color-aciu-light-dark: #525252;
  --color-aciu-bg-red: #D24134;
  --color-aciu-bg-light-red: #FFF8F7;
  --color-aciu-light-red: #E6FAF1;
  --color-aciu-bg-btn-red: #F3C2BF;
  --color-aciu-yellow: #EBC563;
  --color-aciu-light-yellow: #FBF4E1;
  --color-aciu-bg-grey: #F7F7F7;
  --color-aciu-abriba: #737373;
  --color-aciu-text-grey: #1E4150;
  --color-aciu-card-grey: #DFE1E7;
  --color-aciu-border-grey: #3E3E3E;
  --color-aciu-neutral: #898483;
  --color-aciu-grey-normal: #424242;
  --color-aciu-dark-gray: #0D0D12;
  --color-aciu-darker-gray: #3F3F3F;
  --color-aciu-gray-light: #5E5E5E;
  --color-aciu-white-normal: #CCCCCC;
  --color-aciu-white-light: #EFFDE6;
  --color-aciu-white-dark: #F4F4F4;
  --color-aciu-red-normal: #FF3B30;
  --color-aciu-blue-dark: #14213D;
  --color-aciu-cyan-light: #F3FFFE;
  --color-aciu-cyan-dark: #122730;
  --color-primary-100: #F6F5FA;
  --color-primary-200: #EEECF6;
  --color-primary-300: #CBC6E4;
  --color-red-50: #FBD8D8;
  --color-red-100: #FF0707;
  --color-accent-100: #FEFCF3;
  --color-accent-300: #E0D394;
  --color-copy-300: #A1A6B1;
  --color-copy-400: #727A8B;
  --color-copy-500: #434D64;
  --color-success-600: #03D858;
  --color-grayscale-25: #F6F8FA;
  --color-grayscale-100: #818898;
  --color-grayscale-200: #EAECF0;
  --color-grayscale-300: #D0D5DD;
  --color-grayscale-500: #667085;
  --color-gray-900: #101828;
  --color-card-100: #F9FAFC;
  --color-card-200: #F9FBFC;
  --color-neutrals-50: #F9F9F9;
  --color-neutrals-100: #E3E3E3;
  --color-aciu-orange-100: #FE961F;
  --color-aciu-border-100: #A3A3A3;
  --color-aciu-border-200: #7A7A7A;
  --color-aciu-border-300: #393939;
}

html, body {
  overflow-x: hidden;
  background: var(--color-aciu-body);
  color: var(--color-foreground);
  font-family: var(--font-montserrat), sans-serif;
}

body {
  margin: 0;
  padding: 0;
  cursor: default;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-coolvetica);
}

a, button {
  cursor: pointer;
}

@layer utilities {
  .text-2xs {
    font-size: var(--size-2xs);
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .body-lock {
    overflow: hidden;
    position: fixed;
    width: 100%;
  }

  .border-custom-dash {
    border-width: 1px;
    border-style: solid;
    border-image: repeating-linear-gradient(
        45deg,
        var(--color-aciu-green-normal) 0,
        var(--color-aciu-green-normal) 8px,
        transparent 8px,
        transparent 16px
      );
    border-image-slice: 1;
    border-radius: 10px;
  }

  
  .border-dashed {
    border-style: dashed;
    border-color: #00B686
  }

  .overflow-x-auto::-webkit-scrollbar {
    height: 6px;
  }

  .overflow-x-auto::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 3px;
  }

  .overflow-x-auto::-webkit-scrollbar-track {
    background-color: #f1f5f9;
  }

  .scroll-unset::-webkit-scrollbar-thumb {
    background-color: var(--color-aciu-border-100);
  }

  .recharts-wrapper:focus,
  .recharts-layer:focus,
  .recharts-tooltip-wrapper:focus,
  .recharts-bar-rectangle:focus,
  .recharts-surface:focus,
  .recharts-wrapper svg g[tabindex="-1"]:focus,
  .recharts-wrapper svg g[tabindex="-1"]:focus-visible {
    outline: none;
    border-radius: .5rem;
    border: 1px solid var(--color-aciu-green-normal);
  }

}

@layer components {
  .go-to-homepage {
    max-width: 12.5rem;
    border: 1px solid var(--color-aciu-red);
    border-radius: .625rem;
    color: var(--color-aciu-red);
    background: var(--color-aciu-light-red);
    padding: 1.5rem;
    line-height: 100%;
    font-family: 'Coolvetica', sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
  }

  .card-shadow {
    box-shadow: 14px 0px 30px 0px #9191911A,
  }

  .input-shadow {
    box-shadow: 0px 0px 0px 4px #FFF4EC;
  }

  .button-shadow {
    box-shadow: "0px 1px 2px 0px #0D0D120A 0px 1px 3px 0px #0D0D120D";
  }

  /* react-phone-input style overrides */

  .react-tel-input .selected-flag {
    width: 3.5rem !important;
    margin: 0 1rem 0 .5rem !important;
    padding: 0;
    border: none;
  }
  .react-tel-input .selected-flag:hover,
  .react-tel-input .flag-dropdown.open .selected-flag {
    background-color: unset !important;
  }

  .react-tel-input .flag-dropdown {
    border-right: none !important;
     margin-right: .875rem !important;
  }

  .country-list {
    width: 100% !important;
    min-width: 25rem !important;
  }

  .country-list .search-box {
    width: 80% !important;
  }

  .custom-swiper-pagination .swiper-pagination-bullet {
    background-color: #D9F4ED !important;
    opacity: 1 !important;
  }

  .custom-swiper-pagination .swiper-pagination-bullet-active {
    background-color: #00B686 !important;
  }

  .control-group {
    padding: 1.5rem 0 0 0;
    border-bottom: 1px solid #E5E5E5;
  }

  .button-group {
    padding: 0 0 1.5rem 0;
  }

  .ProseMirror {
    height: 100%;
    padding: 3.125rem 1.5rem;
    cursor: default;
  }

  .ProseMirror:focus-visible {
    outline: none !important;
  }

  .line-height-120 {
    line-height: 120%;
  }

  .branch-exec-card p {
    line-height: 120% !important;
    color: var(--color-aciu-border-grey)
  }

  
  .resource-buttons-container {
    box-shadow: 0px 4px 50px 0px #0000001A;
    display: flex;
    align-items: center;
    gap: 1.375rem;
    width: 100%;
  }

  .project-gallery {
    display: grid;
    gap: .5rem;
  }

  .project-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5rem;
  }

  /* 1 image */
  .project-gallery.count-1 {
    grid-template-columns: 1fr;
  }

  /* 2 images */
  .project-gallery.count-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  /* 3 images */
  .project-gallery.count-3 {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .project-gallery.count-3 img:nth-child(1) {
    grid-row: span 2;
  }

  /* 4 images */
  .project-gallery.count-4 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  /* 5 images */
  .project-gallery.count-5 {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .project-gallery.count-5 img:nth-child(1) {
    grid-row: span 2;
  }

  ::-webkit-scrollbar {
    width: .5rem;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
  }


  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }

  .btn {
    padding: 1rem;
    border-radius: 0.75rem;
    font-family: "Coolvetica", sans-serif;
    width: 100%;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    transition: opacity 0.2s, background 0.2s, color 0.2s, border 0.2s;
    white-space: nowrap;
  }

  .btn-primary {
    background: var(--color-aciu-green-normal);
    color: white;
    border: none;
  }

  .btn-secondary {
    background: none;
    color: var(--color-aciu-border-grey);
    border: 1px solid var(--color-aciu-dashboard-background);
  }

  .btn-danger {
    background: none;
    color: #FF5A5A;
    border: 1px solid #FF5A5A;
  }

  .btn-danger-outline {
    background: #FF5A5A;
    color: white;
  }

  .btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .btn-event {
    width: fit-content;
    padding: 1.5rem;
    border-radius: 0.625rem;
    font-family: var(--font-coolvetica);
    line-height: 100%;
  }

  .btn-event-primary {
    background-color: var(--color-aciu-green-normal);
    color: white;
  }

  .btn-event-secondary {
    border: 1px solid var(--color-aciu-green-normal);
    color: var(--color-aciu-green-normal);
  }

  .cancel-btn {
    display: flex;
    align-items: center;
    color: var(--color-aciu-abriba);
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    max-width: fit-content;
    line-height: 1.55;
    font-weight: 600;
    border: 1px solid var(--color-aciu-dark-grey);
    border-radius: 0.75rem;
    padding: 1rem;
    background-color: #ffffff;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    margin-top: 2.25rem;
    transition: background-color 150ms ease-in-out;
  }

  .event-tag {
    border-radius: 0.375rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    padding-left: 0.8125rem;
    padding-right: 0.8125rem;
    max-width: fit-content;
    font-family: var(--font-coolvetica);
    font-size: 0.875rem;
    color: var(--color-aciu-border-grey);
    background-color: var(--color-aciu-yellow);
    text-transform: capitalize;
    line-height: 100%;
  }

  .resources-modal-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 100%;
    position: relative;
  }

  .resources-modal-title {
    color: var(--color-aciu-dark);
    font-family: "Coolvetica", sans-serif;
    line-height: 125%;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 1.25rem;
    font-size: 1.5rem;
  }

  .resources-modal-close {
    position: absolute;
    right: 1.25rem;
    top: 1.5rem;
    cursor: pointer;
    background: none;
    border: none;
  }

  .resources-modal-body {
    flex: 1;
    overflow-y: auto;
    padding-left: 1.375rem;
    padding-right: 1.375rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .resources-form-label {
    font-weight: 500;
    color: var(--color-aciu-border-grey);
    font-family: 'Montserrat', sans-serif;
    font-size: .875rem;
  }

  .success-modal-title {
    color: var(--color-aciu-border-grey);
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 130%;
  }

  .section-action-button {
    display: flex;
    gap: .625rem;
    align-items: center;
    padding: .625rem;
    font-size: 0.875rem;
    color: var(--color-grayscale-100);
    border-radius: 0.375rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    min-height: 3.125rem;
    border: 1px solid var(--color-aciu-card-grey);
  }

  .section-action-button.admin {
    display: flex;
    gap: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    min-height: 0;
    border: 1px solid var(--color-aciu-dark-grey);
  }


  .resource-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
    row-gap: 1.5rem;
  }

  .section-primary-action {
    padding: 0.75rem 0.5rem;
    gap: 0.5rem;
    pointer-events: none;
    border-radius: 0.75rem;
    background-color: var(--color-aciu-green-normal);
    white-space: nowrap;
    max-width: fit-content;
    color: white;
    font-family: 'Coolvetica', sans-serif;
  }

  .payment-table-column {
    border: 1px solid var(--color-aciu-dark-grey);
    padding: .938rem 1.25rem;
    font-size: .875rem;
    font-family: var(--font-montserrat);
    color: var(--color-aciu-border-grey);
    line-height: 100%;
  }

  .payment-table-column.title {
    background-color: var(--color-aciu-light-grey);
  }

  .payment-table-column.desc {
    background-color: #FCFCFC;
    line-height: 1.25rem;
  }

  [data-slot="cursor"] {
    display: none !important;
  }

  .table-skeleton {
    border: 1px solid #EAECF0;
  }

  .table-skeleton-cell {
    padding: .75rem 1.5rem;
    font-size: .75rem;
    font-family: 'Montserrat, sans-serif';
    color: #667085;
    font-weight: 500;
    white-space: nowrap;
    background-color: "#F9FAFB";
    border-bottom: 1px solid #EAECF0;
    line-height: 1.125rem;
  }

  .due-label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.125rem;
    color: var(--aciu-border-grey);
    line-height: 1.25rem;
    letter-spacing: -0.006rem;
  }

  .btn-custom {
    padding: 0.5rem;
    font-size: 0.875rem;
    font-family: var(--font-coolvetica);
    color: var(--color-aciu-green-normal);
    border-radius: 5px;
    border: 1px solid var(--color-aciu-green-normal);
    min-width: fit-content;
    white-space: nowrap;
    transition: background-color 0.2s ease-in-out;
  }

  .btn-custom:hover {
    background-color: var(--color-aciu-green-light-hover)
  }

  .btn-back {
    margin-top: 1.25rem;
    margin-bottom: 0.5rem;
    left: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    font-family: var(--font-montserrat);
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-aciu-neutral);
    border: 1px solid var(--color-neutrals-100);
    border-radius: 1rem;
    padding: 1rem;
    background-color: transparent;
    cursor: pointer;
    background-color: var(--color-white);
    transition: background-color 0.2s ease-in-out;
  }

  .btn-back:hover {
    background-color: var(--color-neutrals-150)
  }

  .btn-back span {
    margin-left: 0.75rem;
    display: none;
  }

}

@media screen and (max-width: 1024px) {
  .resource-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .btn-back span {
    display: inline-block;
  }
}


@media screen and (max-width: 991px){
  .project-gallery.count-5 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  .project-gallery.count-5 img:nth-child(1) {
    grid-column: 1 / -1;
    grid-row: auto;
  }

  .payment-table-column.title,
  .payment-table-column.desc {
    font-size: .75rem;
  }
}

@media screen and (max-width: 768px) {
  .resources-modal-title {
    font-size: 1rem;
    line-height: 125%;
  }

  .resources-modal-close {
    top: 1.125rem;
  }

  .resources-modal-section {
    gap: 1.5rem;
  }

  .resources-modal-section .btn {
    font-size: 1rem;
  }

  .btn {
    font-size: .75rem;
    padding: .875rem
  }

  .btn-back {
    padding: 1rem;
  }

  .resource-grid {
    column-gap: .5rem;
    row-gap: 1rem;
  }

  .go-to-homepage {
    font-size: .875rem;
  }

  .btn-event {
    width: 100%;
  }

  .due-label {
    font-size: 1rem;
  }
}